* {
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #21222A;
}

nav * {
    background-color: inherit;
}

nav > h2 {
    color: #00D8FF;
    margin-right: auto;
}

nav > p {
    color: #DEEBF8;
}

.container {
    height: 100vh;
    color: #FFFFFF;
    height: inherit;
    padding: 30px;
}

ul {
    list-style: none;    
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #61DAFB; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul > li {
    padding: 10px;
}

